<div class="drive-card">
  <mat-card>
    <mat-card-title> Départ : {{addressDisplay(ride.start)}} </mat-card-title>
    <mat-card-title> Arrivée : {{addressDisplay(ride.finish)}} </mat-card-title>
    <mat-card-content> Prix : {{ride.price}} € </mat-card-content>
    <mat-card-content> Durée : {{ride.duration}} heure(s) </mat-card-content>
    <mat-card-content> Date : {{ride.date | date:'EEEE d MMMM y'}} </mat-card-content>
    <mat-card-actions><button mat-icon-button [routerLink]="['/editride', ride.id]"><mat-icon>edit</mat-icon></button></mat-card-actions>
  </mat-card>
</div>
