<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <mat-toolbar class="bar">
    <span class="title">Adopte un trajet</span>

    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Accueil" [routerLink]="['/home']">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button aria-label="Utilisateurs" [routerLink]="['/users']">
      <mat-icon>people</mat-icon>
    </button>
    <button mat-icon-button aria-label="Trajets" [routerLink]="['/rides']">
      <mat-icon>timeline</mat-icon>
    </button>
  </mat-toolbar>
<router-outlet></router-outlet>
