<div class="user-card">
  <mat-card>
    <mat-card-title> <img mat-card-avatar [src]="userPhoto"/> </mat-card-title>
    <mat-card-title> {{user.firstname}} {{user.lastname}} </mat-card-title>
    <mat-card-content> Age : {{user.age}} </mat-card-content>
    <mat-card-content> Email : {{user.mail}} </mat-card-content>
    <mat-card-content> Numéro : {{user.phone}} </mat-card-content>
    <mat-card-actions><button mat-icon-button [routerLink]="['/edituser', user.id]"><mat-icon>edit</mat-icon></button></mat-card-actions>
  </mat-card>
</div>
