<h2 mat-dialog-title *ngIf="isUpdateMode">Mise à jour de {{ form.get('firstname').value }} {{ form.get('lastname').value }}</h2>
<h2 mat-dialog-title *ngIf="!isUpdateMode">Ajouter un utilisateur</h2>

<mat-dialog-content>
  <form novalidate [formGroup]="form">

    <mat-form-field [class.mgb15]="form.get('firstname').dirty && form.get('firstname').invalid" appearance="outline">
      <mat-label>Prénom</mat-label>
      <input matInput placeholder="First name" formControlName="firstname" minlength="2" required name="firstname" />
      <mat-error *ngIf="form.get('firstname').dirty && form.get('firstname').hasError('required')">
        Le prénom est <strong>requis</strong>
      </mat-error>
      <mat-error *ngIf="form.get('firstname').dirty && form.get('firstname').hasError('minlength')">
        Le prénom doit être <strong>au minimum 2 caractères</strong>
      </mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="outline">
      <mat-label>Nom</mat-label>
      <input matInput placeholder="Last Name" formControlName="lastname" minlength="2" required name="lastname" />
      <mat-error *ngIf="form.get('lastname').dirty && form.get('lastname').hasError('required')">
        Le nom est <strong>requis</strong>
      </mat-error>
      <mat-error *ngIf="form.get('lastname').dirty && form.get('lastname').hasError('minlength')">
        Le nom doit être <strong>au minimum 2 caractères</strong>
      </mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="mail" required name="mail" />
      <mat-error *ngIf="form.get('mail').dirty && form.get('mail').hasError('required')">
        L'adresse email est <strong>requise</strong>
      </mat-error>
      <mat-error *ngIf="form.get('mail').dirty && !form.get('mail').hasError('required') && form.get('mail').hasError('email')">
        Email invalide <strong>(ex: nom.prenom@mail.fr)</strong>
      </mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="outline">
      <mat-label>Numéro de téléphone</mat-label>
      <input matInput placeholder="Numéro (ex: 0612345678)" formControlName="phone" required name="phone" />
      <mat-error *ngIf="form.get('phone').dirty && form.get('phone').hasError('required')">
        Le numéro de téléphone es <strong>requis</strong>
      </mat-error>
      <mat-error *ngIf="form.get('phone').dirty && form.get('phone').hasError('pattern')">
        Le numéro de téléphone doit être <strong>français</strong>
      </mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="outline">
      <mat-label>Age</mat-label>
      <input matInput type="number" formControlName="age" min="18" required name="age" />
      <mat-error *ngIf="form.get('age').dirty && form.get('age').hasError('required')">
        L'age est <strong>requis</strong>
      </mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">Cancel</button>
  <button mat-button color="primary" type="submit" (click)="submit(form.value)" [disabled]="form.invalid">Save</button>
</mat-dialog-actions>
