.title {
  margin-top: 3%;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

.container{
  background-image: url(../../../assets/back.png);
  background-image-opacity: 50%;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.depart{
  width: 200px;
  position: absolute;
  top: 400px;
  left: 450px;
}

.finish{
  width: 200px;
  position: absolute;
  top: 400px;
  left: 700px;
}

.send{
  position: absolute;
  top: 400px;
  left: 950px;
}

.subtitle {
  margin-top: 3%;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
